<div class="navbar-sticky">
    <div class="nav-container">
        <div class="container">
            <div class="navbar">
                <img class="logo" src="" alt="">
                <nav class="nav-menu-wrapper">
                    <div class="nav-links">
                        <a class="nav-link">Home</a>
                        <a class="nav-link">Home</a>
                        <a class="nav-link">Home</a>
                    </div>
                </nav>
                <div class="nav-menu-button-wrapper">
                    <div class="sign-in-button">
                        <a>Sign in</a>
                    </div>
                    <div class="sign-up-button">
                        <a>Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section1">
    <div class="bg-gradient"></div>
    <div class="nav-ghost"></div>
    <div class="wrapper">
        <div class="title-hero">
            <h1 class="heading">Your job search <br> made easy.</h1>
            <div class="subheading">Matilda is a conversational agent that will help you find work.</div>
            <div class="cta-button">
                <a>Create an account</a>
            </div>
        </div>
        <div class="illustration">
            <img src="/assets/15.png">
        </div>
    </div>
</div>
<div class="section2">
    <div class="content">
        <h6 class="subheading">Job search made easy</h6>
        <h1 class="heading">Find a job in record time.</h1>
        <div class="text-large">iuhfiHEFDFIDFOIDSJFÔISDJFÔIJSDFOIJSOPIDHFOISDHFISDHIUISUHFIASF.</div>
        <a class="cta-button">Create an account</a>
    </div>
    <div class="div">
        <img src="">
    </div>
</div>