<div class="navbar-sticky">
    <div class="nav-container">
        <div class="container">
            <div class="navbar">
                <img class="logo" src="/assets/horizontal_black.png" alt="">
                <nav class="nav-menu-wrapper">
                    <div class="nav-links">
                        <!-- <a class="nav-link">Home</a>
                        <a class="nav-link">About</a>
                        <a class="nav-link">Blog</a> -->
                    </div>
                </nav>
                <div class="nav-menu-button-wrapper">
                    <div class="sign-in-button">
                        <a routerLink="/login" routerLinkActive="active">Sign in</a>
                    </div>
                    <div class="sign-up-button">
                        <a routerLink="/signup" routerLinkActive="active">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section1">
    <div class="content">
        <h6 class="subheading">Job search made easy</h6>
        <h1 class="heading">Find your dream job in record time.</h1>
        <div class="text-large">
            Start a conversation, answer a few questions, find a job.
            <br>
            Say hi, it's that simple!
        </div>
        <div class="cta-button">
            <a routerLink="/signup" routerLinkActive="active">Create an account</a>
        </div>
    </div>
    <div class="bg-pill">
        <img src="/assets/15.png">
    </div>
</div>
<div class="section2" style="background-color: #f8f6f4; display: flex; justify-content: center;">
    <div class="content-2">
      <div class="subtitle">Features</div>
      <h2 class="title-center">Maximize your impact by finding the company that fits you best.</h2>
      <div class="_w-layout-grid grid-4-columns"><a href="#"
          class="link-block-feature _w-inline-block w-inline-block"><img
            src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164c1c3f7a6b4745ef8a_icons8-mission-50.png"
            width="52" height="52" alt="" class="icon-feature" />
          <h5 class="title-feature">Diversity</h5>
          <p class="paragraph-feature">Find a variety of roles that fit your skills and experience.</p>
        </a><a href="#" class="link-block-feature _w-inline-block w-inline-block"><img
            src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164c953e8a56201c055c_icons8-target-50.png"
            width="52" height="52" alt="" class="icon-feature" />
          <h5 class="title-feature">Proximity</h5>
          <p class="paragraph-feature">Consult postings in your area in order to reduce your movement.</p>
        </a><a href="#" class="link-block-feature _w-inline-block w-inline-block"><img
            src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164c953e8ac17e1c055d_icons8-trust-50.png"
            width="52" height="52" alt="" class="icon-feature" />
          <h5 class="title-feature">Compatibility</h5>
          <p class="paragraph-feature">Find the role that matches your skills and level of experience.</p>
        </a><a href="#" class="link-block-feature _w-inline-block w-inline-block"><img
            src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164ca75e3425c3420f14_icons8-checked-50.png"
            width="52" height="52" alt="" class="icon-feature" />
          <h5 class="title-feature">Speed</h5>
          <p class="paragraph-feature">Get a reply in no time and start doing meaningful work today!</p>
        </a><a id="w-node-cf16d106d1b2-8eb0d952" routerLink="/signup" routerLinkActive="active" class="link-block-feature-red w-inline-block">
          <div class="text-feature">
            <h5 class="title-feature white">Say hi, it&#x27;s that easy.</h5>
            <p class="paragraph-feature white">Start chatting with Matilda to find an company within minutes.</p>
            <div class="learn-more-white">Create an account</div>
          </div>
        </a><a id="w-node-b431c0e55a20-8eb0d952" href="#" class="link-block-feature-orange w-inline-block">
          <div class="text-feature">
            <h5 class="title-feature white">First time?</h5>
            <p class="paragraph-feature white">Consult our blog to learn about job search best practices.</p>
            <div class="learn-more-white">Learn more</div>
          </div>
        </a></div>
    </div>
  </div>
  <div class="section-footer">
    <div class="content-footer">
      <div class="_w-layout-grid grid-footer">
        <div class="column-footer"><a href="/" class="brand-footer _w-nav-brand w-inline-block"><img
              src=""
              width="100"
              sizes="100px" alt="" class="logo" /></a>
          <div class="block-social"><a href="#" class="link-social _w-inline-block w-inline-block"></a><a href="#"
              class="link-social _w-inline-block w-inline-block"></a><a href="#"
              class="link-social _w-inline-block w-inline-block"></a><a href="#"
              class="link-social _w-inline-block w-inline-block"></a></div>
        </div>
        <div class="column-footer">
          <div class="info-footer">NAVIGATION</div><a href="#" class="link-footer">Liens utiles</a><a href="#"
            class="link-footer">À propos</a><a href="#" class="link-footer">Contact</a>
        </div>
        <div class="column-footer">
          <div class="info-footer">Connexion</div><a href="#" class="link-footer">Se connecter</a><a href="#"
            class="link-footer">Créer un compte</a>
        </div>
        <div class="column-footer">
          <div class="info-footer">ENTREPRISE</div><a href="#" class="link-footer">Carrières</a><a href="#"
            class="link-footer">Clients</a><a href="#" class="link-footer">Contact</a>
        </div>
        <div class="column-footer">
          <div class="info-footer">SUPPORT TECHNIQUE</div><a href="#" class="link-footer">Documentation</a><a href="#"
            class="link-footer">Portail d&#x27;aide</a><a href="#" class="link-footer">Développeurs</a>
        </div>
      </div>
    </div>
    <div class="content-footer-down">
      <div class="down-left">
        <p class="copyright">Tous droits réservés à XXX</p>
      </div>
      <div class="down-right"><a href="#" class="link-footer-down">Text Link</a><a href="#"
          class="link-footer-down">Text Link</a><a href="#" class="link-footer-down">Text Link</a><a href="#"
          class="link-footer-down">Text Link</a></div>
    </div>
  </div>
