<div class="root">
    <div class="header">
        <input class="search-bar" type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByOrg()">
    </div>
    <div class="bookmarks">
        <bookmark-card *ngFor="let item of items"
        type="text"
        [logo]=""
        [jobTitle]="item.jobTitle"
        [organization]="item.organization"
        [timestamp]="item.timestamp"
        [lastMessage]="item.lastMessage"
        [jobId] = "item.jobId"
        [jobDescription] = "item.jobDescription"
        [requirements] = "item.requirements"
        [jobType] = "item.jobType"
        [responsabilities] = "item.responsabilities"
        [imageURL] = "item.imageURL"
        [location] = "item.location"
        [lowSalary] = "item.lowSalary"
        [highSalary] = "item.highSalary"
></bookmark-card>
    </div>
</div>
