<div class="root">
    <div class="header">
        <input class="search-bar" type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByOrg()">
    </div>
    <div class="bookmarks">
        <bookmark-card *ngFor="let item of filteredJobs || items"
        type="text"
        [logo]=""
        [title]="item.title"
        [company]="item.company"
        [timestamp]="item.timestamp"
        [lastMessage]="item.lastMessage"
        [jobId] = "item.jobId"
        [description] = "item.description"
        [requirements] = "item.requirements"
        [employmentType] = "item.employmentType"
        [imageURL] = "item.imageURL"
        [location] = "item.location"
        [salary] = "item.salary"
        [applicationURL] = "item.url"
></bookmark-card>
    </div>
</div>
