@import "./src/styles.scss";

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;

    .icon {
        position: absolute;
        left: 250px;
        height: 16px;
        width: 16px;
        border-radius: 2px;
        padding: 5px;

        &:hover {
            background-color: #D3D1D1;
            cursor: pointer;
        }

        &.rotate {
            transform: rotate(180deg);
        }
        
        img {
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.shortcuts {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 15px;

    .link-row {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .notif {
            font-size: 12px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 20px;
            height: 20px;
            background-color: $red-dark;
            box-shadow: 0 0 10px 5px rgba($color: $red-dark, $alpha: 0.2)
        }
    }

    .personal {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
    }

    .admin {
        display: flex;
        flex-direction: column;
    }
}

.site-nav {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 15px;

    a {
        margin-left: 0;
    }

    .signout {
        // border-top: $border-thin;
        // padding-top: 20px;
        // margin-top: 10px;

        &:hover {
            color: $red-dark;
            cursor: pointer;
        }
    }
}

h3 {
    margin: 0;
    margin-bottom: 10px;
    font-family: $rubik;
}

a {
    margin: 0;
    margin-left: 5px;
    margin-right: 15px;
    font-family: $rubik;
    text-decoration: none;
    color: $heading-gray;

    &:hover {
        color: $red-dark;
        cursor: pointer;
    }
}

a:last-child {
    margin-bottom: 0;
}

.invite-friends {
    position: absolute;
    bottom: 30px;
    left: 60px;
    right: 60px;

    button {
        width: 100%;
        margin-bottom: 10px;
        padding: 10px 30px;
        background-color: $red-dark;
        border-radius: 50px;
        border: none;
        color: white;
        font-size: 14px;

        &:hover {
            background-color: $blue-dark;
            cursor: pointer;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
