<div class="header">
    <img src="assets/horizontal_black.png" style="width: 150px;" routerLink="/" routerLinkActive="active">
    <div class="icon" (click)="sideNavService.toggleSideNav()" [ngClass]="{'rotate': sideNavService.hideSideNav }"><img src="assets/left-arrow.svg" alt=""></div>
  </div>
  <div class="shortcuts">
    <div class="personal">
      <h3>Find work</h3>
      <div class="link-row">
        <a routerLink="/chat" routerLinkActive="active">Ask Matilda</a>
      </div>
      <!-- <a routerLink="/chat" routerLinkActive="active">Conversations</a> -->
      <div class="link-row">
        <a routerLink="/bookmarks" routerLinkActive="active">Bookmarks</a><div class="notif" *ngIf="bookmarksCount > 0">{{bookmarksCount}}</div>
      </div>
      <!-- <a routerLink="/signup" routerLinkActive="active">Interviews</a> -->
    </div>
    <div class="admin">
      <h3>Personal</h3>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <!-- <a routerLink="/signup" routerLinkActive="active">Billing</a> -->
    </div>
  </div>
  <div class="site-nav">
    <!-- <a routerLink="/signup" routerLinkActive="active">Live Training</a>
    <a routerLink="/signup" routerLinkActive="active">Video Tutorials</a>
    <a routerLink="/signup" routerLinkActive="active">Blog</a> -->
    <a class="signout" (click)="signOut()">Log Out</a>
  </div>
  <div class="invite-friends">
    <button (click)="menu.showBugPopup = !menu.showBugPopup">Report a Bug</button>
    <button (click)="menu.showSuggestionPopup = !menu.showSuggestionPopup">Make a Suggestion</button>
  </div>
  
  
