<div class="header">
    <img src="assets/horizontal_black.png" style="width: 150px;">
    <button (click)="sideNavService.toggleSideNav()">H</button>
  </div>
  <div class="shortcuts">
    <div class="personal">
      <h3>Find work</h3>
      <a routerLink="/chat" routerLinkActive="active">Conversations</a>
      <a routerLink="/signup" routerLinkActive="active">Bookmarks</a>
      <a routerLink="/signup" routerLinkActive="active">Interviews</a>
    </div>
    <div class="admin">
      <h3>Personal</h3>
      <a routerLink="/profile" routerLinkActive="active">Profile</a>
      <a routerLink="/signup" routerLinkActive="active">Billing</a>
    </div>
  </div>
  <div class="site-nav">
    <a routerLink="/signup" routerLinkActive="active">Live Training</a>
    <a routerLink="/signup" routerLinkActive="active">Video Tutorials</a>
    <a routerLink="/signup" routerLinkActive="active">Blog</a>
    <a class="signout" (click)="signOut()">Log Out</a>
  </div>
  <div class="invite-friends">
    <button>Invite Friends</button>
  </div>
