<div class="root">
    <h2>Welcome aboard, {{ user.firstName }}!</h2>
    <div class="onboarding-step-card" [ngClass]="{ active: onboarding.onboardingStep === 0 }">
        <h3>Greetings & Personal Information</h3>
        <p>This step will allow you to meet Matilda and blah blah blah...</p>
    </div>
    <div class="onboarding-step-card" [ngClass]="{ active: onboarding.onboardingStep === 1 }">
        <h3>Contact Information</h3>
        <p>This step will allow you to meet Matilda and blah blah blah...</p>
    </div>
    <div class="onboarding-step-card" [ngClass]="{ active: onboarding.onboardingStep === 2 }">
        <h3>Education & Employment History</h3>
        <p>This step will allow you to meet Matilda and blah blah blah...</p>
    </div>
    <div class="onboarding-step-card" [ngClass]="{ active: onboarding.onboardingStep === 3 }">
        <h3>Interests, Values & Objectives</h3>
        <p>This step will allow you to meet Matilda and blah blah blah...</p>
    </div>
    <div class="onboarding-step-card" [ngClass]="{ active: onboarding.onboardingStep === 4 }">
        <h3>Notification Preferences</h3>
        <p>This step will allow you to meet Matilda and blah blah blah...</p>
    </div>
    <h3 class="done">Done!</h3>
</div>
