<div class="org-profile-content">

  <div class="close-container">
    <div class="x"><span class="fa"><strong class="bold-text-2"></strong></span></div>
  </div>

  <div class="org-profile">
    <div class="logo-container">
      <img src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5eaf428630994ed3ec120ada_qWwStCSr_400x400.png"
        width="175" height="175" alt="" class="org-logo" />
      <div class="org-status">
        <div class="div-block"></div>
      </div>
    </div>

    <h2 class="org-name">Shopify</h2>
    <h4 class="org-location">Montreal, Canada</h4>
    <p class="org-bio">We believe the future of commerce has more voices, not fewer, so we’re reducing the barriers to business ownership to make commerce better for everyone.</p>
  </div>

  <div class="contact">
    <p class="contact-info">Assigned human: Steven Gong</p>
    <p class="contact-info">Phone: (514) 915-6261</p>
    <p class="contact-info">Email: gong@shopify.com</p>
  </div>

  <div class="stats">

  </div>

  <div class="items">

  </div>

</div>
