<div class="email-form">
  <h2>Sign in to your account</h2>
  <form class="inputs" #loginForm="ngForm" (ngSubmit)="signIn()">
    <input type="text" [(ngModel)]="email" name="email" placeholder="Email {{ errorMessage }}">
    <input type="password" [(ngModel)]="password" name="password" placeholder="Password">
    <button type="submit" style="display: none"></button>
  </form>
  <p>Don't have an account? <a routerLink="/signup" routerLinkActive="active">Sign up</a></p>
  <!-- <p>{{ errorMessage }}</p> -->

</div>
<div class="or-block">
  <p>or</p>
</div>
<div class="third-party-auth">
  <button class="google" (click)="UserService.googleSignin()">
    <i class="fa fa-google"></i> Google
  </button>

  <button class="facebook" (click)="UserService.facebookSignin()">
    <i class="fa fa-facebook"></i> Facebook
  </button>
</div>
