@import "./src/styles.scss";

.bookmark-card {
    height: 100%;
    max-width: 350px;
    position: relative;
  font-family: $rubik;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 15px;
  transform: scale(1);
  transition: all 0.1s ease-in-out;

  &:hover {
      transform: scale(1.03);
      transition: all 0.1s ease-in-out;
      cursor: pointer;
  }

  .percentage-match {
    justify-content: space-between;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;

    h6 {
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $red-dark;
        margin-bottom: 5px;
    }

    h2 {
        color: #F44B4A;
        border-radius: 10px;
        padding: 5px;
        background-color: rgba(#F44B4A, 0.2);
        font-weight: 400;

        &.green {
            color: #009F93;
            background-color: rgba(#009F93, 0.2);
        }

        &.yellow {
            color: #E3C020;
            background-color: rgba(#E3C020, 0.2);
        }
    }
}

  .header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .header-left {
        display: flex;
        align-items: center;

        img {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            margin-right: 10px;
        }

        .job-infos {

            h3 {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }

            h5 {
                font-weight: 400;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 1; /* number of lines to show */
                -webkit-box-orient: vertical;
            }
        }
    }

    .icon {
        display: none;

        &.visible {
            display: inline;
        }
    }

    .bookmarks-actions {
        display: none;

        &.visible {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.8);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            position: absolute;
            right: 20px;
            top: 20px;
            display: flex;
        }
    }
}

.job-description {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    color: $paragraph-gray;

    h6 {
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $red-dark;
        margin-bottom: 5px;
    }

    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
}

.more-infos {
    display: flex;

    .salary {
        padding: 20px;
        width: 50%;

        h6 {
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $red-dark;
            margin-bottom: 5px;
        }
    }

    .job-type {
        padding: 20px;
        width: 50%;

        h6 {
            text-transform: uppercase;
            color: $red-dark;
            margin-bottom: 5px;
        }
    }
}



.buttons {
    display: flex;
    flex-direction: column;
    padding: 20px;

    button {
        display: flex;
        align-items: center;
        background-color: rgba(230, 101, 81, 0.2);
        padding: 10px 15px;
        text-align: left;
        color: $red-dark;
        border: none;
        border-radius: 10px;
        max-height: 40px;
        font-size: 12px;
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: rgba(230, 101, 81, 0.8);
            color: white;
            cursor: pointer;
        }
    }

    .save-or-apply {
        display: flex;

        .save {
            width: 20%;
            border-radius: 10px 0 0 10px;
        }

        .apply {
            width: 80%;
            border-radius: 0 10px 10px 0;
        }
    }
}
}
