<div class="bookmark-card" (click)="crudService.toggleJobInfos(card.jobId.stringValue, card.score.numberValue)">
    <div class="header">
        <div class="header-left">
            <img src="{{ logo || 'https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164c953e8a56201c055c_icons8-target-50.png' }}">
            <div class="job-infos">
                <h3>{{ title }}</h3>
                <h5>{{ company }} - {{ location }}</h5>
            </div>
        </div>
        <div class="icon" (click)="sideNavService.toggleBookmarksActions()" [ngClass]="{'visible': !sideNavService.showBookmarksActions}"><img src="assets/more.svg"></div>
        <div class="bookmarks-actions" [ngClass]="{'visible': sideNavService.showBookmarksActions}">
            <div class="icon" (click)="sideNavService.toggleBookmarksActions()"><img src="assets/close.svg"></div>
            <button class="default-button-small" (click)="removeBookmark(jobId)">Remove bookmark</button>
        </div>
    </div>
    <div class="percentage-match">
        <h6>Compatibility</h6>
        <!-- <h2 [ngClass]="{ 'green': match >= 80, 'yellow': match < 80 && match >= 60 }">{{ match }}%</h2> -->
      </div>
    <div class="job-description">
        <h6>Job Description</h6>
        <p>{{ description }}</p>
    </div>
    <div class="more-infos">
        <div class="salary">
            <h6>Salary</h6>
            <p>{{ baseSalary || "Unavailable"}}</p>
        </div>
        <div class="job-type">
            <h6>Employment</h6>
            <p>{{ employmentType }}</p>
        </div>
    </div>
    <div class="buttons">
        <button (click)="apply()">Apply now</button>
    </div>
</div>
