<div class="bookmark-card">
    <div class="card-header">
        <img src="assets/mia.png">
        <div class="infos">
            <p class="title">Software Engineer</p>
            <p class="org">Shopify - Montreal, Canada</p>
        </div>
    </div>
    <div class="jd">
        <p>We are looking for a full-stack developer to build the most popular e-commerce platform in the world blah blah blah</p>
    </div>
    <div class="salary">
        <p>Salary: Min - Max</p>
    </div>
    <div class="buttons">
        <button class="button">See More</button>
        <button class="button">Apply Now</button>
    </div>
</div>