@import "./src/styles.scss";

.bookmark-card {
  font-family: $rubik;
  // width: 300px;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 15px;

  .header {
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .header-left {
          display: flex;
          align-items: center;

          img {
              height: 50px;
              width: 50px;
              border-radius: 50px;
              margin-right: 10px;
          }
      }

      
  }

  .job-description {
      display: flex;
      flex-direction: column;
      justify-content: start;
      padding: 20px;
      color: $paragraph-gray;

      h6 {
          letter-spacing: 1px;
          text-transform: uppercase;
          color: $red-dark;
          margin-bottom: 5px;
      }
  }

  .more-infos {
      display: flex;

      .salary {
          padding: 20px;
          width: 50%;

          h6 {
              letter-spacing: 1px;
              text-transform: uppercase;
              color: $red-dark;
              margin-bottom: 5px;
          }
      }

      .job-type {
          padding: 20px;
          width: 50%;

          h6 {
              text-transform: uppercase;
              color: $red-dark;
              margin-bottom: 5px;
          }
      }
  }

  .buttons {
      flex-grow: 1;
      display: flex;
      padding: 20px;

      button {
          display: flex;
          align-items: center;
          background-color: rgba(230, 101, 81, 0.2);
          padding: 10px 15px;
          text-align: left;
          color: $red-dark;
          border: none;
          border-radius: 10px;
          max-height: 40px;
          flex-grow: 1;
          font-size: 12px;

          &:hover {
              background-color: rgba(230, 101, 81, 0.8);
              color: white;
              cursor: pointer;
          }
      }
  }
}
