<div class="root">
  <div class="form-container">
    <div class="tab">
      <form #orgForm="ngForm" (ngSubmit)="sendOrgForm(orgForm)">
        <!-- Org Name -->
        <div class="field">
          <p class="field-title">Name</p>
          <input type="text" required name="org_name" [ngModel] placeholder="Ex: Matilda">
        </div>

        <!-- Org Logo -->
        <div class="field">
          <p class="field-title">Logo</p>
          <input type="file" id="org_logo" [ngModel]>
        </div>

        <!-- Org Location -->
        <div class="field">
          <p class="field-title">Location</p>
          <input type="search" required name="org_location" [ngModel] placeholder="Ex: Montreal, Canada">
        </div>

        <!-- Org Values -->
        <div class="field">
          <p class="field-title">Values</p>
          <input type="text" name="org_values" [ngModel] placeholder="Ex: transparency, equal pay, innovation">
        </div>

        <!-- Org Bio -->
        <div class="field span">
          <p class="field-title">Bio</p>
          <textarea class="large" type="text" maxlength="300" name="org_bio" [ngModel]
            placeholder="Ex: We believe..."></textarea>
        </div>

        <div class="field right">
          <button class="submit-button" type="submit">Job details</button>
        </div>
      </form>
    </div>

    <!-- Job Post -->
    <div class="tab">
      <form #jobForm="ngForm" (ngSubmit)="sendJobForm(jobForm)">

        <!-- Job Title -->
        <div class="field">
          <p class="field-title">Job Title</p>
          <input type="text" required name="job_title" [ngModel] placeholder="Ex: Matilda">
        </div>

        <!-- Job Type -->
        <div class="field">
          <p class="field-title">Job Type</p>
          <input type="text" required name="job_type" [ngModel] placeholder="Ex: Full-time">
        </div>

        <!-- Job Location -->
        <div class="field">
          <p class="field-title">Location</p>
          <input type="search" required name="job_location" [ngModel] placeholder="Ex: Montreal, Canada">
        </div>

        <!-- Job Salary Range -->
        <div class="field split">
          <div class="split-left">
            <p class="field-title">Salary Low</p>
            <input type="number" required name="job_salary_low" [ngModel] placeholder="Ex: 50,000">
          </div>
          <div class="split-right">
            <p class="field-title">Salary High</p>
            <input type="number" required name="job_salary_high" [ngModel] placeholder="Ex: 61,000">
          </div>
        </div>

        <!-- Job Requirements -->
        <div class="field">
          <p class="field-title">Requirements</p>
          <textarea class="large" type="text"  required name="job_requirements" [ngModel]
            placeholder="Ex: Experience working in the tech industry..."></textarea>
        </div>

        <!-- Job Responsibilities -->
        <div class="field">
          <p class="field-title">Responsibilities</p>
          <textarea class="large" type="text" required name="job_responsibilities" [ngModel]
            placeholder="Ex: Creating reports..."></textarea>
        </div>

        <!-- Job Description -->
        <div class="field span">
          <p class="field-title">Job Description</p>
          <textarea class="large" type="text" required name="job_description" [ngModel] placeholder="Ex: This role is..."></textarea>
        </div>

        <div class="field right">
          <button class="submit-button" type="submit">Post this job</button>
        </div>
      </form>
    </div>
    <div class="tab">
        <h1>Success!</h1>
    </div>
  </div>
</div>
