<div class="root">
  <div class="form-container">
    <form #orgForm="ngForm" (ngSubmit)="sendForm(orgForm)">

      <!-- Org Name -->
      <div class="field">
        <p class="field-title">Name</p>
        <input type="text" required id="org_name" [ngModel] placeholder="Ex: Matilda">
      </div>

      <!-- Org Logo -->
      <div class="field">
        <p class="field-title">Logo</p>
        <input type="file" id="org_logo" [ngModel]>
      </div>

      <!-- Org Location -->
      <div class="field">
        <p class="field-title">Location</p>
        <input type="search" required id="org_location" [ngModel] placeholder="Ex: Montreal, Canada">
      </div>

      <!-- Org Values -->
      <div class="field">
        <p class="field-title">Values</p>
        <input type="text" id="org_values" [ngModel] placeholder="Ex: transparency, equal pay, innovation">
      </div>

      <!-- Org Bio -->
      <div class="field span">
        <p class="field-title">Bio</p>
        <textarea class="large" type="text" maxlength="5" id="org_bio" [ngModel]
          placeholder="Ex: We believe..."></textarea>
      </div>

      <div class="field right">
        <button class="submit-button" type="submit">Job details</button>
      </div>
    </form>
  </div>
</div>
