<div class="root">
  <div class="header">
    <div class="banner">
      <img>
      <div class="edit-banner">
        <p>Change Cover</p>
      </div>
    </div>
    <div class="profile-header">
      <img class="avatar" src="assets/mia.png">
      <div class="profile-header-infos">
        <h2>Matilda</h2>
        <div class="sub-infos">
          <p>We find the dream in your job</p>
          <p>Montreal, Canada</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form">
      <div class="form-left">
        <h1>Create a job listing</h1>
      </div>
      <div class="form-right">
        <form>
            <h2>Tell us more about your organization</h2>
            <div class="field">
                <h3 class="field-title">Organization Name</h3>
                <input>
            </div>
            <div class="field">
                <h3 class="field-title">Logo</h3>
                <input>
            </div>
            <div class="field">
                <h3 class="field-title">Head Office Location</h3>
                <input>
            </div>
            <div class="field">
                <h3 class="field-title">Bio</h3>
                <input>
            </div>
            <div class="field">
                <h3 class="field-title">Values</h3>
                <input>
            </div>
            <button>Post</button>
        </form>
      </div>
  </div>
</div>
