<div class="root">
    <div class="messages-header">
        <div class="messages-header-left">
          <div class="matilda-pic">
            <img src="/assets/girl.png">
            <div class="active-status"></div>
          </div>
          <div class="messages-header-jd">
            <h3 class="messages-header-job-title">Matilda</h3>
            <h5 class="messages-header-details">Montreal, Canada</h5>
          </div>
        </div>
        <div class="messages-header-right">
          <div class="icon" (click)="sideNavService.toggleConvoInfos()"><img src="assets/more.svg"></div>
        </div>
    </div>

    <div class="upload-shadow" [ngClass]="{ visible: showUpload }" (drop)="drop($event)" (dragover)="allowDrop($event)" (dragleave)="removeDrop($event)">
      <div class="upload-container">
        <button class='default-button-small' (click)=untoggleUpload()>X</button>
        <input type="file" #fileDropRef id="fileDropRef" (change)="upload($event, fileType)" />
        <img src="{{ (downloadURL | async) || 'assets/dnd/ic-upload-file.svg'}}" alt="">
        <div *ngIf="uploadProgress | async;">
          <div>{{ uploadProgress | async}}%</div>
          <div> File name: {{ fileName }}</div>
        </div>
        <h3>Drag and drop file here</h3>
        <h3>or</h3>
        <div class="default-button">
          <label for="fileDropRef">Browse for file</label>
        </div>
        <div class="default-button" (click)=sendFileToMatilda(fileType)>
          <a>Send</a>
        </div>



      </div>
  </div>

    <!-- <div class="upload-container" [ngStyle]="{display: (draggedOver ? 'block': 'none')}">
      <div>{{ uploadProgress | async}}% File name: {{ fileName }}</div>
      <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
          File uploaded: <img src="{{downloadSrc}}">
      </div>
    </div> -->

    <div class="chat-container">

    <!-- <div class="btn-group" role="group" *ngIf="uploadState | async; let state">
      <button (click)="task.pause()" [disabled]="state === 'paused'">Pause</button>
      <button (click)="task.cancel()" [disabled]="!(state === 'paused' || state === 'running')">Cancel</button>
      <button (click)="task.resume()" [disabled]="state === 'running'">Resume</button>
    </div> -->

        <chat-message *ngFor="let msg of messages" #item
                      type="text"
                      [message]="msg.text"
                      [reply]="msg.reply"
                      [richCard] = "msg.richCard"
                      >
        </chat-message>
        <chat-message *ngIf="loading"
            type="text"
            message="...">
        </chat-message>


        <div *ngIf="showChips">
          <chat-chip *ngFor="let chip of chips" (click)="addChipMessage(chip)"
          [text]="chip">
          </chat-chip>
        </div>

    </div>

    <div class="chat-footer" (scroll)="scrolled($event)" #scrollframe>
        <chat-form (send)="handleUserMessage($event)"></chat-form>
        <div class="skip-container" (click)="nextFlow()"> <!-- *ngIf="allowSkip" -->

            <a class="skip" >Skip</a><i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
    </div>

    <div class="success-shadow" [ngClass]="{ visible: flowDone }">
        <div class="success-container">
            <div class="success-checkmark">
                <div class="check-icon">
                    <span class="icon-line line-tip"></span>
                    <span class="icon-line line-long"></span>
                    <div class="icon-circle"></div>
                    <div class="icon-fix"></div>
                </div>
            </div>
            <h1>You're doing great!</h1>
            <p>Let's keep building your profile so we can find awesome opportunities together.</p>
            <div class="default-button" (click)="nextFlow()">
                <a>Onwards</a>
            </div>
        </div>
    </div>

</div>
