<div class="convo-info">
  <div class="convo-info-left"><img
      src="https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5ea3164c953e8a56201c055c_icons8-target-50.png"
      width="50" height="50" alt="" class="org-logo" />
    <div class="message-info">
      <h4 class="convo-job-title">{{ jobTitle }}</h4>
      <h4 class="convo-org-name">{{ organization }}</h4>
    </div>
  </div>
  <div class="convo-info-right">
    <h5 class="convo-timestamp">{{ timestamp }}</h5>
  </div>
</div>
<div class="convo-last-message">
  <p class="last-message" [ngClass]=" {'unread': isUnread} ">{{ lastMessage }}</p>
</div>
