.dashboard-menu-bar {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    width: 100px;
    background-color: #2b2f4d;
  }
  
  .dashboard-menu-bar-content {
    position: absolute;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: 0%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 40px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .dashboard-menu-user-pic {
    border-radius: 100px;
  }
  
  .dashboard-menu-nav {
    display: -ms-grid;
    display: grid;
    width: 100%;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 1vh;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
  }
  
  .dashboard-menu-icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    margin-bottom: 0px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    font-family: 'Fa solid 900', sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 30px;
    text-decoration: none;
    text-align: center;
  }
  
  .dashboard-menu-icon.w--current {
    border-style: none solid;
    border-width: 1px 10px;
    border-color: #000 transparent #000 #f44b4a;
    color: #fff;
  }
  
  .dashboard-menu-icon.last {
    margin-bottom: 0px;
  }
  
  .dashboard-menu-icon.selected {
    color: #f44b4a;
  }
  
  .dashboard-menu-settings {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Fa solid 900', sans-serif;
    color: rgba(255, 255, 255, 0.3);
    font-size: 35px;
    text-align: center;
  }