<div class="message-container" [ngClass]=" {'user': reply} ">
    <div class="message-bubble" [ngClass]=" {'user': reply} ">
        <p class="message">{{ message }}</p>
    </div>
    <p class="message-timestamp">{{ timestamp }}</p>

    <div class="cards-carousel">
    <div *ngIf="richCard" class="rich-card">
        <div class="bookmark" (click)="bookmarkJob()">❤️</div>
        <div class="header">
            <div class="header-left">
                <!-- <img src="{{ jobImageURL }}"> -->
                <div class="job-infos">
                    <h3>{{ jobTitle }} </h3>
                    <h5>{{ jobSubtitle }}</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>{{ learnMoreDescription }}</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>Available on Demand</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="learnMore()">Learn more</button>
            <button (click)="apply()">Apply now</button>
        </div>
    </div>

    </div>
</div>
