@import "./src/styles.scss";

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-bottom: 10px;

    font-family: 'Rubik', sans-serif;

    &.user {
        align-items: flex-start;
    }

    .message-bubble {
        padding: 10px 20px;
        max-width: 60%;
        margin-bottom: 5px;

        background-color: #F2F0EE;
        color: #222229;
        border-radius: 50px 50px 10px 50px;
        float: right;

        &.user {
            background-color: #FE7B67;
            color: white;
            border-radius: 50px 50px 50px 10px;
        }

        .message {
            background-color: transparent;

            margin: 0;

            font-size: 14px;
        }

        &.bot {
            background-color: #F2F0EE;
        }
    }

    .message-timestamp {
        margin: 0 15px;

        font-size: 12px;
        line-height: 1.3em;
        color: #999;
    }
}

.cards-carousel {
    display: grid;
    grid-template-columns: repeat(6, 300px);
    column-gap: 20px;
    max-width: 60%;
    overflow: auto;
    padding: 30px;

.rich-card {
    position: relative;
    font-family: $rubik;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: $box-shadow;
    border-radius: 15px;

    &:hover {
        
        .bookmark {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            z-index: 999;
            width: 50px;
            height: 50px;
            background-color: white;
            box-shadow: $box-shadow;
            position: absolute;
            right: -10px;
            top: -15px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .bookmark {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        .header-left {
            display: flex;
            align-items: center;

            img {
                height: 50px;
                width: 50px;
                border-radius: 50px;
                margin-right: 10px;
            }

            .job-infos {
                
                h5 {
                    font-weight: 400;
                }
            }
        }

        
    }

    .job-description {
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 20px;
        color: $paragraph-gray;

        h6 {
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $red-dark;
            margin-bottom: 5px;
        }
    }

    .more-infos {
        display: flex;

        .salary {
            padding: 20px;
            width: 50%;

            h6 {
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $red-dark;
                margin-bottom: 5px;
            }
        }

        .job-type {
            padding: 20px;
            width: 50%;

            h6 {
                text-transform: uppercase;
                color: $red-dark;
                margin-bottom: 5px;
            }
        }
    }

    .buttons {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 20px;

        button {
            display: flex;
            align-items: center;
            background-color: rgba(230, 101, 81, 0.2);
            padding: 10px 15px;
            text-align: left;
            color: $red-dark;
            border: none;
            border-radius: 10px;
            max-height: 40px;
            flex-grow: 1;
            font-size: 12px;
            margin-bottom: 10px;

            &:hover {
                background-color: rgba(230, 101, 81, 0.8);
                color: white;
                cursor: pointer;
            }
        }

        .save-or-apply {
            display: flex;

            .save {
                width: 20%;
                border-radius: 10px 0 0 10px;
            }

            .apply {
                width: 80%;
                border-radius: 0 10px 10px 0;
            }
        }
    }
}
}