<div class="message-container" [ngClass]=" {'user': reply} ">
    <div class="message-bubble" [ngClass]=" {'user': reply} ">
        <p class="message">{{ message }}</p>
    </div>
    <p class="message-timestamp">{{ timestamp }}</p>
    <div *ngIf="richCard" class="rich-card">
        <img src="{{ jobImageURL }}">
        <div class="job-info">
           <h2>Job Title</h2>
           <h4>Job Location</h4>
           <p>Job description...</p>
        </div>
        <button class="click-button" (click)="openExternalPage()">Apply</button>
        <button class="click-button" (click)="bookmarkJob()">Bookmark</button>
        <button class="click-button" (click)="bookmarkJob()">See More</button>

    </div>
</div>
