<div class="message-container" [ngClass]=" {'user': reply} ">
    <div class="message-bubble" [ngClass]=" {'user': reply} ">
        <p class="message">{{ message }}</p>
    </div>
    <p class="message-timestamp">{{ timestamp }}</p>

    <div class="cards-carousel">
    <div *ngIf="richCard" class="rich-card">
        <div class="bookmark">❤️</div>
        <div class="header">
            <div class="header-left">
                <img src="{{ jobImageURL }}">
                <div class="job-infos">
                    <h3>Junior Developer</h3>
                    <h5>Shopify - Montreal, Canada</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>Join the most popular e-commerce platform in the world. Build products that empower people to start businesses and...</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>$82,000</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="bookmarkJob()">Learn more</button>
            <button (click)="bookmarkJob()">Apply now</button>
        </div>
    </div>
    <div *ngIf="richCard" class="rich-card">
        <div class="header">
            <div class="header-left">
                <img src="{{ jobImageURL }}">
                <div class="job-infos">
                    <h3>Junior Developer</h3>
                    <h5>Shopify - Montreal, Canada</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>Join the most popular e-commerce platform in the world. Build products that empower people to start businesses and...</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>$82,000</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="bookmarkJob()">Learn more</button>
            <div class="save-or-apply">
                <button class="save">❤️</button>
                <button class="apply" (click)="bookmarkJob()">Apply now</button>
            </div>
        </div>
    </div>
    <div *ngIf="richCard" class="rich-card">
        <div class="header">
            <div class="header-left">
                <img src="{{ jobImageURL }}">
                <div class="job-infos">
                    <h3>Junior Developer</h3>
                    <h5>Shopify - Montreal, Canada</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>Join the most popular e-commerce platform in the world. Build products that empower people to start businesses and...</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>$82,000</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="bookmarkJob()">Learn more</button>
        </div>
    </div>
    <div *ngIf="richCard" class="rich-card">
        <div class="header">
            <div class="header-left">
                <img src="{{ jobImageURL }}">
                <div class="job-infos">
                    <h3>Junior Developer</h3>
                    <h5>Shopify - Montreal, Canada</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>Join the most popular e-commerce platform in the world. Build products that empower people to start businesses and...</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>$82,000</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="bookmarkJob()">Learn more</button>
        </div>
    </div>
    <div *ngIf="richCard" class="rich-card">
        <div class="bookmark"></div>
        <div class="header">
            <div class="header-left">
                <img src="{{ jobImageURL }}">
                <div class="job-infos">
                    <h3>Junior Developer</h3>
                    <h5>Shopify - Montreal, Canada</h5>
                </div>
            </div>
        </div>
        <div class="job-description">
            <h6>Job Description</h6>
            <p>Join the most popular e-commerce platform in the world. Build products that empower people to start businesses and...</p>
        </div>
        <div class="more-infos">
            <div class="salary">
                <h6>Salary</h6>
                <p>$82,000</p>
            </div>
            <div class="job-type">
                <h6>Job Type</h6>
                <p>Full-time</p>
            </div>
        </div>
        <div class="buttons">
            <button (click)="bookmarkJob()">Learn more</button>
        </div>
    </div>
</div>
</div>
