.email-form {
    width: 100%;
    margin-bottom: 20px;

    h2 {
        font-family: 'Arvo', sans-serif;
        font-size: 32px;
    }

    p {
        font-family: 'Rubik', sans-serif;
        font-size: 14px;
        margin: 0;
    }

    a {
        color: #E66551;
        text-decoration: none;
    }
  .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      width: 100%;

      padding: 10px 20px;
      margin-bottom: 10px;

      border-radius: 50px;
      border: 2px solid #D3D1D1;

      font-family: 'Rubik', sans-serif;
      font-size: 14px;
    }

    input:last-child {
      margin-bottom: 0;
    }

    input:focus {
      outline: none;
      border-color: #FE7B67;
      color: #333;
    }
  }
}

.or-block {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;

    
}

.third-party-auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    width: 80%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    border: 2px solid;

    font-family: 'Rubik', sans-serif;
    font-size: 14px;
  }

  .google {
    border-color: #E66551;
  }

  .google:hover {
    color: white;
    background-color: #E66551;

    cursor: pointer;
  }

  .facebook {
    border-color: #4C6AE3;
  }

  .facebook:hover {
    color: white;
    background-color: #4C6AE3;

    cursor: pointer;
  }
}
