<div class="convo-info" id="{{ jobId }}">
  <div class="convo-info-left"><img
      src="{{ imageURL }}"
      width="50" height="50" alt="" class="org-logo" />
    <div class="message-info">
      <h4 class="convo-job-title">{{ jobTitle }}</h4>
      <h4 class="convo-org-name">{{ organization }}</h4>
    </div>
  </div>
  <div class="convo-info-right">
    <h5 class="convo-timestamp">{{ timestamp }}</h5>
  </div>
</div>
<div class="convo-last-message">
  <p class="last-message" [ngClass]=" {'unread': isUnread} ">{{ lastMessage }}</p>
</div>
