   @import "./src/styles.scss";

   body {
     margin: 0;
     min-height: 100%;
     background-color: #f2f0ee;
     color: #6f6f74;
     font-size: 16px;
   }
   
   p {
     margin: 0;
   }
   
   a {
     text-decoration: none;
   }
   
   .root {
     height: 100vh;
     width: 100vw;
     display: flex;
     align-items: stretch;
     background-color: $background-gray;

     .shadow {
      display: none;
      position: absolute;
      z-index: 998;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(#000000, 0.5);
  
      &.opened {
          display: flex;
      }
  
      .bug-report {
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 0;
          bottom: 0;
          margin: auto;
          margin-bottom: auto;
          height: 70vh;
          width: 60vw;
          padding: 30px;
          background-color: #FFF;
          box-shadow: 0 0 20px 1px rgba(#000000, 0.1);
          border-radius: 15px;
          overflow: auto;
  
          &.opened {
              display: flex;
          }
      }
  
      .suggestions {
          display: none;
          flex-direction: column;
          position: absolute;
          z-index: 999;
          left: 0;
          right: 0;
          margin-left: auto;
          margin-right: auto;
          top: 0;
          bottom: 0;
          margin: auto;
          margin-bottom: auto;
          height: 70vh;
          width: 60vw;
          padding: 30px;
          background-color: #FFF;
          box-shadow: 0 0 20px 1px rgba(#000000, 0.1);
          border-radius: 15px;
          overflow: auto;
  
          &.opened {
              display: flex;
          }
      }
  
      ::-webkit-scrollbar {
          display: none;
        }
  }
   
     toolbar {
        position: relative;
        width: 20%;
        min-width: 250px;
        max-width: 250px;
        padding: 30px;
        padding-right: 0;
        transition: margin-left 0.3s ease-in-out;

        &.hidden {
            margin-left: -280px;
        }
    } 
   }
   
   .chat-container {
     flex: 1;
     padding: 30px;
     padding-left: 50px;
     display: flex;
   
     .chat-components-container {
       position: relative;
       display: flex;
       box-shadow: $box-shadow;
       border-radius: 15px;
       flex: 1;

       .job-infos-window {
         box-sizing: border-box;
         position: absolute;
         display: flex;
         flex-direction: column;
         z-index: 999;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         background-color: #FFF;
         border-radius: 15px;
         padding: 30px;

         .header {
           display: flex;
           align-items: center;
           justify-content: space-between;
           padding-bottom: 30px;

           .header-left {
             display: flex;
             flex: 1;
             align-items: center;

             h3 {
               font-weight: 400;
             }
           }

           .header-right {
             display: flex;
             align-items: center;
           }
         }
       }

       .main {
         color: $heading-gray;
         font-size: 18px;
        box-sizing: border-box;
         flex: 1;
         display: flex;
         align-items: stretch;

         .info {
           margin-bottom: 30px;

          h6 {
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $red-dark;
            margin-bottom: 5px;
          }
         }
         

         .main-left {
          box-sizing: border-box;
           flex: 1;
           display: flex;
           flex-direction: column;
           margin-right: 20px;

           .quick-infos {
             padding: 30px;
              flex: 1;
              border-radius: 15px;
              border: 1px solid $border-gray;
              margin-bottom: 20px;

              .split {
                display: flex;
        
                .info {
                    width: 50%;
                }
            }

           }

           .description {
            padding: 30px;
            height: 40%;
            border-radius: 15px;
            border: 1px solid $border-gray;
           }
         }

         .main-right {
           padding: 30px;
           width: 35%;
           border-radius: 15px;
           border: 1px solid $border-gray;

           .percentage-match {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: start;
            margin-bottom: 30px;
    
            h6 {
                letter-spacing: 1px;
                text-transform: uppercase;
                color: $red-dark;
                margin-bottom: 5px;
            }
    
            h2 {
                color: #F44B4A;
                border-radius: 10px;
                padding: 5px;
                background-color: rgba(#F44B4A, 0.2);
                font-weight: 400;
    
                &.green {
                    color: #009F93;
                    background-color: rgba(#009F93, 0.2);
                }
    
                &.yellow {
                    color: #E3C020;
                    background-color: rgba(#E3C020, 0.2);
                }
            }
        }
         }
       }

     }
   }
   
   convos {
     display: flex;
     flex-direction: column;
     overflow: scroll;
     width: 28%;
     padding: 40px 30px;
     background-color: white;
   }
   
   .chat-window-container {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 52%;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-pack: justify;
     -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
     justify-content: space-between;
     border-style: none solid;
     border-width: 2px;
     border-color: rgba(0, 0, 0, 0.1);
   }
   
   convo-info {
     width: 20%;
     background-color: white;
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 23%;
     padding: 40px 30px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
   
     &.hidden {
       display: none;
       background-color: blue;
     }
   }
   
   mia {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     flex-grow: 1;
     overflow: auto;
     background-color: white;
     border-radius: 15px;
    //  border-left: 2px solid rgba(0, 0, 0, 0.1);
    //  border-right: 2px solid rgba(0, 0, 0, 0.1);
   }
   
   sidebar {
     position: fixed;
     left: 0%;
     top: 0%;
     right: auto;
     bottom: 0%;
     width: 100px;
     background-color: #222229;
   }
   
   .dashboard-grid-container {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100%;
     margin-left: 110px;
     padding: 70px 40px;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .response-cards-container {
     display: block;
     max-width: 80%;
     padding-left: 15px;
   }
   
   .response-card {
     display: inline-block;
     margin-right: 10px;
     margin-bottom: 10px;
     padding: 5px 10px;
     border: 2px solid #f44b4a;
     border-radius: 50px;
     background-color: #fff;
     font-family: Rubik, sans-serif;
     font-size: 16px;
     cursor: pointer;
   }
   
   .response-card:hover {
     background-color: #f44b4a;
     color: #fff;
   }
   
   .response-card.selected {
     background-color: #f44b4a;
     color: #fff;
   }
   
   .bookmarked {
     margin-left: 15px;
     font-family: Rubik, sans-serif;
     color: #f44b4a;
     font-size: 16px;
     font-weight: 400;
   }
   
   .utility-page-wrap {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 100vw;
     height: 100vh;
     max-height: 100%;
     max-width: 100%;
     -webkit-box-pack: center;
     -webkit-justify-content: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .utility-page-content {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     width: 260px;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     text-align: center;
   }
   
   .utility-page-form {
     display: -webkit-box;
     display: -webkit-flex;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     -ms-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     -ms-flex-align: center;
     align-items: center;
   }
   
   .text-field {
     -webkit-align-self: auto;
     -ms-flex-item-align: auto;
     -ms-grid-row-align: auto;
     align-self: auto;
     border-radius: 50px;
     font-family: Rubik, sans-serif;
     text-align: center;
   }
   
   .heading-4 {
     font-family: Arvo, sans-serif;
   }
   
   .image {
     margin-bottom: 20px;
   }
   
   .submit-button {
     width: 100%;
     border-radius: 50px;
     background-color: #f44b4a;
     font-family: Rubik, sans-serif;
     font-weight: 400;
   }
   
   .text-span-3 {
     color: #e66551;
   }
   
   .html-embed {
     box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
   }
   
   .bold-text-3 {
     color: #fff;
   }
   
   .search-icon {
     margin-right: 10px;
     font-family: 'Fa solid 900', sans-serif;
     font-size: 16px;
   }
   
   .text-span-4 {
     margin-left: 10px;
     color: #333;
   }
   
   .bold-text-4 {
     display: inline-block;
     margin-left: 2px;
     font-family: 'Fa solid 900', sans-serif;
   }
   
   .bold-text-5 {
     margin-left: 5px;
     font-family: 'Fa solid 900', sans-serif;
   }
   
   
   ::-webkit-scrollbar {
     display: none;
   }
   
   @media screen and (max-width: 991px) {
     .footer {
       padding-right: 20px;
       padding-left: 20px;
     }
   }
   
   @media screen and (max-width: 767px) {
     .sticky-nav {
       position: relative;
     }
   
     .nav-grid {
       text-align: center;
     }
   
     .footer {
       padding: 40px 20px;
     }
   
     .footer-image {
       -o-object-fit: contain;
       object-fit: contain;
     }
   }
   
   @media screen and (max-width: 479px) {
     .sticky-nav {
       padding: 0px;
     }
   
     .nav-grid {
       grid-auto-flow: row;
       grid-column-gap: 0px;
       grid-row-gap: 0px;
       -ms-grid-columns: 1fr;
       grid-template-columns: 1fr;
       -ms-grid-rows: 100px;
       grid-template-rows: 100px;
     }
   
     .nav-logo-link {
       border-top: 1px solid #c4c4c4;
     }
   
     .nav-link {
       padding-top: 10px;
       padding-bottom: 10px;
       border-top: 1px solid #c4c4c4;
     }
   
     .footer {
       padding-right: 20px;
       padding-left: 20px;
       text-align: left;
     }
   
     .footer-flex-container {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -webkit-flex-direction: column;
       -ms-flex-direction: column;
       flex-direction: column;
     }
   
     .footer-logo-link {
       height: 60px;
     }
   
     .footer-heading {
       margin-top: 20px;
     }
   }
   
   #w-node-cf16d106d1b2-8fbe12b3 {
     -ms-grid-row: span 1;
     grid-row: span 1;
     grid-row-start: span 1;
     -ms-grid-row-span: 1;
     grid-row-end: span 1;
     -ms-grid-column: span 2;
     grid-column: span 2;
     grid-column-start: span 2;
     -ms-grid-column-span: 2;
     grid-column-end: span 2;
   }
   
   #w-node-b431c0e55a20-8fbe12b3 {
     -ms-grid-row: span 1;
     grid-row: span 1;
     grid-row-start: span 1;
     -ms-grid-row-span: 1;
     grid-row-end: span 1;
     -ms-grid-column: span 2;
     grid-column: span2;
     grid-column-start: span 2;
     -ms-grid-column-span: 2;
     grid-column-end: span 2;
   }
   
   #w-node-0b99c19b2050-5a0c660e {
     -ms-grid-row: span 2;
     grid-row: span 2;
     grid-row-start: span 2;
     -ms-grid-row-span: 2;
     grid-row-end: span 2;
     -ms-grid-column: span 1;
     grid-column: span 1;
     grid-column-start: span 1;
     -ms-grid-column-span: 1;
     grid-column-end: span 1;
   }
   
   #w-node-cf16d106d1b2-8eb0d952 {
     -ms-grid-row: span 1;
     grid-row: span 1;
     grid-row-start: span 1;
     -ms-grid-row-span: 1;
     grid-row-end: span 1;
     -ms-grid-column: span 2;
     grid-column: span 2;
     grid-column-start: span 2;
     -ms-grid-column-span: 2;
     grid-column-end: span 2;
   }
   
   #w-node-b431c0e55a20-8eb0d952 {
     -ms-grid-row: span 1;
     grid-row: span 1;
     grid-row-start: span 1;
     -ms-grid-row-span: 1;
     grid-row-end: span 1;
     -ms-grid-column: span 2;
     grid-column: span 2;
     grid-column-start: span 2;
     -ms-grid-column-span: 2;
     grid-column-end: span 2;
   }
   
   @font-face {
     font-family: 'Fa 400';
     src: url('https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5eab379c1f030f311e6b7df9_fa-regular-400.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Fa brands 400';
     src: url('https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5eab379c2acc846610dafa3c_fa-brands-400.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   
   @font-face {
     font-family: 'Fa solid 900';
     src: url('https://uploads-ssl.webflow.com/5ea1997894e4390e5fbe12b2/5eab379cef423a6cceda4ae1_fa-solid-900.woff2') format('woff2');
     font-weight: 400;
     font-style: normal;
   }
   