
  <div class="convos-header">
      <input class="search-bar" type="text" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" placeholder="Search by name..." (keyup)="searchByOrg()">
    <div class="convos-number">11 <strong class="bold-text-5"></strong></div>
  </div>
    <div class="convos-tools">
      <div class="convos-tools-left">
        <h4 class="convos-tools-heading">Sort By: <span class="sort-by-choice text-span-4">Latest First
            <strong class="bold-text-4"></strong></span></h4>
      </div>
      <div class="convos-tools-right">
        <h5 class="convos-tools-heading">Add New</h5><a href="/chat" class="add-convo-button fa w-button"><strong
            class="bold-text-3"></strong></a>
      </div>
    </div>

    <div class="no-search-result" *ngIf="items?.length == 0">
      <p>We couldn't find anything to match your search...</p>
      <img src="assets/not-found.svg">
    </div>


    <convo-card *ngFor="let item of items"
                type="text"
                [logo]=""
                [jobTitle]="item.jobTitle"
                [organization]="item.organization"
                [timestamp]="item.timestamp"
                [lastMessage]="item.lastMessage"
                [isUnread]="item.isUnread"
                [id] = "item.id"
                
                (click)="changeChat(item)"
                [ngClass]="{ 'selected': item.isSelected }">
    </convo-card>
  

