@import "./src/styles.scss";

.search-bar {
  font-size: 12px;
  margin-right: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding: 10px 0 10px 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 50px;
  background-color: #f2f0ee;
  border: none;
}

input:focus {
  outline: none;
  color: #333;
}

.no-search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    font-family: 'Arvo', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
  }

  img {
    width: 80%;
  }
}
.convos-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.convos-number {
  font-family: Rubik, sans-serif;
  color: rgba(51, 51, 51, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.convos-tools {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.convos-tools-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.convos-tools-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.convos-tools-heading {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Rubik, sans-serif;
  color: rgba(51, 51, 51, 0.5);
  font-size: 14px;
  line-height: 1.3em;
  font-weight: 400;
}

.add-convo-button {
  border-radius: 50px;
  background-color: #fe7b67;
}

.add-convo-button.fa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #FE7B67;
  box-shadow: none;
}

convo-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 30px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: $box-shadow;

  &:hover {
    cursor: pointer;
  }

  &.selected {
    background-color: $background-gray;
    box-shadow: none;
  }

  p {
    .unread {
      font-weight: 500;
      color: #333;
    }
  }

  :active {
    background-color: red;
  }
}

.convo-history-row.selected-convo {
  background-color: #2b2f4d;
  color: #fff;
}

.convo-history-row.convo-history-row.selected-convo p {
  color: #fff;
}
