<div class="root">
  <h2>Create Account</h2>
  <div>Start looking for your dream job today - stress free!</div>
  <div class="form">
        <form class="inputs" #loginForm="ngForm" (ngSubmit)="user.SignUp()">
          <div class="split-row">
            <input type="text" maxlength="32" [(ngModel)]="user.createFirstName" name="firstName" placeholder="First Name">
            <input type="text" maxlength="32" [(ngModel)]="user.createLastName" name="lastName" placeholder="Last Name">
          </div>
          <input type="email" [(ngModel)]="user.createEmail" name="email" placeholder="Email Address">
          <input type="password" [(ngModel)]="user.createPassword" name="password" placeholder="Create password">
          <button type="submit">Create Account</button>
        </form>
        <div class="divider">
          <div class="divider-text">
            <div class="text-muted">or</div>
          </div>
          <div class="divider-line"></div>
        </div>

        <button class="third-party" (click)="user.googleSignup()">
          <div class="row">
            <img src="/assets/google.svg">
            <div class="text">Sign up with Google</div>
          </div>
        </button>

        <!-- <button class="third-party" (click)="UserService.facebookSignin()">
          <div class="row">
            <img>
            <div class="text">Sign up with Facebook</div>
          </div>
        </button> -->
  </div>
  <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Sign in here</a></p>
  <p>{{ errorMessage }}</p>
</div>
