<div class="root">
  <div class="toolbar">
    <div class="shortcuts">
      <div class="personal">
        <h3>Personal</h3>
        <p>Profile</p>
        <p>Bookmarks</p>
        <p>Interviews</p>
        <p>Billing</p>
      </div>
      <div class="admin">
          <h3>Admin</h3>
          <p>User management</p>
          <p>Advanced</p>
      </div>
    </div>
    <div class="site-nav">
        <p>Live Training</p>
        <p>Video Tutorials</p>
        <p>Blog</p>
        <p class="signout" (click)="signOut()">Log Out</p>
    </div>
  </div>
  <profile></profile>
</div>
