<div class="root" *ngIf="afAuth.userData as user">
  <div class="header">
    <div class="banner">
      <img>
    <div class="edit-banner">
        <p>Change Cover</p>
    </div>
    </div>
    <div class="profile-header">
      <img class="avatar" src="{{ user.photoURL }}">
      <div class="profile-header-infos" >
        <h2>{{(user.displayName) ? user.displayName: 'New User' }}</h2>
        <div class="sub-infos">
          <p>{{ (user.status) ? user.status: 'Recently met Matilda'}}</p>
          <p>{{ (user.location) ? user.location: 'Somewhere, Somewhere' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="infos">
    <div class="info">
        <div class="info-left">
            <h2>Email</h2>
          </div>
      <div class="info-right">
        <div class="field" >
          <p [hidden]="valueHidden"> {{ user.email }}</p>


          <form #newEmail="ngForm" (ngSubmit)="UpdateEmail(newEmail.value.email)">
            <input [hidden]="inputHidden" placeholder="New email" type="email" name="email" id="new_email" ngModel>
          </form>


        </div>
        <a (click)="EditInput()" [hidden]="valueHidden">Edit</a>
        <a (click)="ConfirmInput()" [hidden]="inputHidden">Save</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Phone Number</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p>{{ user.phone }}</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Subscription Type</h2>
          </div>
      <div class="info-right subscription-type">
        <div class="field">
          <p>Basic User</p>
        </div>
        <a>Upgrade</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Time Zone</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>EST</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Language</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>{{ user.language }}</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Password</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>********</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
  </div>
</div>
