<div class="root" *ngIf="afAuth.userData as user">
  <div class="header">
    <div class="banner" style="background-image: url({{coverDownloadURL}});">

      <div class="edit-banner">
        <input id="banner" type="file" (change)="uploadBanner($event)" accept=".png, .jpg" style="display: none;">
        <label for="banner">Change Cover</label>
      </div>
    </div>
    <div class="profile-header">
      <div class="avatar" style="background-image: url({{profileDownloadURL}});">
        <div class="avatar-hover">
          <div class="edit-pic">
          <input id="profile" type="file" (change)="uploadProfile($event)" accept=".png, .jpg" style="display: none;">
          <label for="profile">Change Picture</label>
          </div>
        </div>
      </div>
      <div class="profile-header-infos">
        <div class="super-infos">
        <h2 [hidden]="valueHidden">{{(user.displayName) ? user.displayName: 'New User' }}</h2>

        <!-- TO BE MODIFIED!!!!!!!!!!!! -->
        <form #newEmail="ngForm" (ngSubmit)="UpdateUser(newEmail.value)">
          <input [hidden]="inputHidden" placeholder="New name" type="text" name="email" id="new_email"
            autocomplete="off" ngModel>
        </form>

        <a (click)="EditInput()" [hidden]="valueHidden">Edit</a>
        <a (click)="ConfirmInput()" [hidden]="inputHidden">Save</a>
      </div>
        <div class="sub-infos">
          <p>{{ (status) ? status: 'Recently met Matilda'}}</p>
          <p>{{ (location) ? location: 'Somewhere, Somewhere' }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="infos">
    <div class="info">
      <div class="info-left">
        <h2>Email</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p [hidden]="valueHidden"> {{ user.email }}</p>


          <form #newEmail="ngForm" (ngSubmit)="UpdateUser(newEmail.value)">
            <input [hidden]="inputHidden" placeholder="New email" type="email" name="email" id="new_email"
              autocomplete="off" ngModel>
          </form>


        </div>
        <a (click)="EditInput()" [hidden]="valueHidden">Edit</a>
        <a (click)="ConfirmInput()" [hidden]="inputHidden">Save</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Phone Number</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p [hidden]="valueHidden"> {{ formatNumber(phone) }}</p>


          <form #newPhone="ngForm" (ngSubmit)="UpdateUser(newPhone.value)">
            <input [hidden]="inputHidden" placeholder="New phone number" type="tel" name="phone" id="new_phone"
              autocomplete="off" ngModel>
          </form>


        </div>
        <a (click)="EditInput()" [hidden]="valueHidden">Edit</a>
        <a (click)="ConfirmInput()" [hidden]="inputHidden">Save</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Subscription Type</h2>
      </div>
      <div class="info-right subscription-type">
        <div class="field">
          <p>Basic User</p>
        </div>
        <a>Upgrade</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Time Zone</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p>EST</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Language</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p [hidden]="valueHidden"> {{ language }}</p>


          <form #newLanguage="ngForm" (ngSubmit)="UpdateUser(newLanguage.value)">
            <input [hidden]="inputHidden" placeholder="New language" type="text" name="language" id="new_language"
              autocomplete="off" ngModel>
            <!-- <select [hidden]="inputHidden" placeholder="New language" name="language" id="new_language" ngModel>
              <option value="Enlish">English</option>
              <option value="French">French</option>
            </select> -->
          </form>


        </div>
        <a (click)="EditInput()" [hidden]="valueHidden">Edit</a>
        <a (click)="ConfirmInput()" [hidden]="inputHidden">Save</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Password</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p>********</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
      <div class="info-left">
        <h2>Resume</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <!-- <input type="file" id="org_logo" accept=".png, .jpg" (change)="uploadImage($event)" [ngModel]> -->
          <!-- You have to change the (change) event -->
          <input id="resume" type="file" accept=".pdf, .png, .jpg" [ngModel] (change)="uploadResume($event)">
        </div>
        <label (click)="uploadResume($event)"for="resume">Upload</label>
      </div>
    </div>
  </div>
</div>
