<div class="root">
  <div class="header">
    <div class="banner">
      <img>
    <div class="edit-banner">
        <p>Change Cover</p>
    </div>
    </div>
    <div class="profile-header">
      <img class="avatar" src="{{ avatar }}">
      <div class="profile-header-infos">
        <h2>Lucas Azar</h2>
        <div class="sub-infos">
          <p>Looking for a job in the tech sector</p>
          <p>Montreal, Canada</p>
        </div>
      </div>
    </div>
  </div>
  <div class="infos">
    <div class="info">
      <div class="info-left">
        <h2>Personal Meeting ID</h2>
      </div>
      <div class="info-right">
        <div class="field">
          <p>123-456-789</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Email</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>{{ email }}</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Subscription Type</h2>
          </div>
      <div class="info-right subscription-type">
        <div class="field">
          <p>Basic User</p>
        </div>
        <a>Upgrade</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Time Zone</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>EST</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Language</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>English</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
    <div class="info">
        <div class="info-left">
            <h2>Password</h2>
          </div>
      <div class="info-right">
        <div class="field">
          <p>********</p>
        </div>
        <a>Edit</a>
      </div>
    </div>
  </div>
</div>
