<div class="messages-header">
    <div class="messages-header-left"><img
        src="{{ imageURL }}"
        width="50" height="50" alt="" class="org-logo" />
      <div class="messages-header-jd">
        <h3 class="messages-header-job-title">Matilda</h3>
        <h5 class="messages-header-details">Montreal, Canada</h5>
      </div>
    </div>
    <div class="messages-header-right">
      <div class="messages-header-button last"><button (click)="sideNavService.toggleConvoInfos()">i</button></div>
    </div>
  </div>

<div class="chat-container">
    <chat-message *ngFor="let msg of messages"
                  type="text"
                  [message]="msg.text"
                  [timestamp]="msg.date.toDate().toDateString()"
                  [reply]="msg.reply"
                  [jobImageURL] = "msg.url"
                  [richCard] = "msg.richCard">
                  
    </chat-message>

    
    <chat-message *ngIf="loading"
        type="text"
        message="...">
    </chat-message>
</div>

<div class="chat-footer">
    <chat-form (send)="handleUserMessage($event)">

    </chat-form>
</div>
