<div class="root" *ngIf="showPage">
    <div class="navbar-sticky">
      <div class="nav-container">
          <div class="container">
              <div class="navbar">
                  <img class="logo" src="/assets/horizontal_black.png" alt="">
                  <nav class="nav-menu-wrapper">
                      <div class="nav-links">
                          <a class="nav-link">Home</a>
                          <a class="nav-link">About</a>
                          <a class="nav-link">Blog</a>
                      </div>
                  </nav>
                  <div class="nav-menu-button-wrapper">
                      <div class="sign-in-button">
                          <a>Sign in</a>
                      </div>
                      <div class="sign-up-button">
                          <a>Find a job</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
        <onboarding-chat (loadingProfile)="loadAnimation($event)"></onboarding-chat>
        <onboarding-progress></onboarding-progress>
    </div>
  </div>

  <div class="profile-build" *ngIf="!showPage">
      <img src="/assets/15.png">
      <h2>Hang on while I build your profile!</h2>
  </div>
